.header {
    display: flex;
    justify-content: space-between;
    background-color: var(--black-color);
    color: var(--white-color);
    font-weight: lighter;
    border-bottom: 1px solid var(--white-color);
    margin-bottom: 0.25em;
}

.header__title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.1em;
    margin-left: 5em;
    cursor: pointer;
    font-weight: lighter;
}

.header__title::before {
    content: url('/assets/icons/list.png');
    filter: invert();
    margin: 0.25em;
}

.header__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 10em;
    font-weight: lighter;
}

.header__options {
    display: flex;
    list-style-type: none;
    margin-right: 10em;
}

.options {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

.option {
    margin-left: 4em;
    margin-right: 4em;
}

.option:hover {
    cursor: pointer;
    color: var(--hover-color);
}

.options__logout {

}

