.task-editor-modal {
    display: flex;
    flex-direction: column;
    padding: 1em;
    color: black;
}

.action-button {
    border: 1px solid black;
}

.form__textarea {
    height: 10em;
    width: 30em;
}