<div class="task-editor-modal">
    <div class="header task-editor-modal__header">
        <h1 class="header__title">{{ title }}</h1>
        <button class="header__close-button action-button" mat-button [mat-dialog-close]="true">X</button>
    </div>
    
    <form *ngIf="mode !== 'view'" [formGroup]="taskForm" (ngSubmit)="submitTask()">
        <h3>Name</h3>
        <input class="form-input" type="text" formControlName="name" required>  
        <br>
        <h3>Description:</h3>
        <textarea class="form__textarea" type="text" formControlName="description" required></textarea>
        
        <div class="info content__info">
            <div class="info__status">
                <h3 *ngIf="mode === 'edit'">Status:</h3>
                <select *ngIf="mode === 'edit'" class="header__status" name="status" formControlName="status">
                    <option value="To Do">To Do</option>
                    <option value="In Progress">In Progress</option>
                    <option value="Done">Done</option>
                    <option value="Blocked">Blocked</option>
                    <option value="Not Valid">Not Valid</option>
                </select>
            </div>

            <div class="info__status">
                <h3>Assignee:</h3>
                <select class="header__status" name="status" formControlName="assignee">
                    <option *ngFor="let assignee of assignees" value="{{assignee}}">{{assignee}}</option>
                </select>
            </div>

            <div class="info__effort">
                <h3>Effort [h]:</h3>
                <input class="form-input" id="name" type="number" formControlName="estimation" required>
            </div>
        </div>
       
        <div class="content__action-buttons">
            <button class="action-button" mat-button *ngIf="mode==='create'" type="submit" [disabled]="!taskForm.valid">Create</button>
            <button class="action-button" mat-button *ngIf="mode==='edit'" type="submit" [disabled]="!taskForm.valid">Update</button>
        </div>
    </form>

    <ng-container *ngIf="mode === 'view'">
        <div class="content task-editor-modal__content">
            <div class="content__action-buttons">
                <button class="action-button" mat-button (click)="editMode()">Edit</button>
                <button class="action-button" mat-button [mat-dialog-close]="true" (click)="removeTask($event)">Delete item</button>
            </div> 
            
            <div class="content__description">
                <h3>Description:</h3>
                <p class="task__descritpion">{{ data.description }}</p>
            </div>

            <div class="info content__info">
                <div class="info__status">
                    <h3 class="info__title">Status:</h3>
                    <p>{{ data.status }}</p>
                </div>

                <div class="info__assignee">
                    <h3 class="info__title">Assignee:</h3>
                    <p>{{ data.assignee }}</p>
                </div>

                <div class="info__effort">
                    <h3 class="info__title">Effort [h]:</h3>
                    <p>{{ data.estimation }}</p>
                </div>
            </div>
            
            <div class="content__creation-date">
                <p>Creation date: {{ data.creationDate }}</p>
            </div>
        </div>
    </ng-container>
</div>