<div class="task-editor-modal">
    <h1>{{ title }}</h1>
    <form *ngIf="mode !== 'view'" [formGroup]="taskForm" (ngSubmit)="submitTask()">
        <input type="text" formControlName="name" required>  
        <br>
        <h3>Description:</h3>
        <textarea class="form__textarea" type="text" formControlName="description" required></textarea>
        
        <h3 *ngIf="mode === 'edit'">Status:</h3>
        <select *ngIf="mode === 'edit'" class="header__status" name="status" formControlName="status">
            <option value="To Do">To Do</option>
            <option value="In Progress">In Progress</option>
            <option value="Done">Done</option>
            <option value="Blocked">Blocked</option>
            <option value="Not Valid">Not Valid</option>
        </select>

        <h3>Assignee:</h3>
        <input type="text" formControlName="assignee" required>

        <h3>Remaining effort:</h3>
        <input id="name" type="number" formControlName="estimation" required>
        <br>
        <button class="action-button" mat-button *ngIf="mode==='create'" type="submit" [disabled]="!taskForm.valid">Create</button>
        <button class="action-button" mat-button *ngIf="mode==='edit'" type="submit" [disabled]="!taskForm.valid">Update</button>
        <button class="action-button" mat-button [mat-dialog-close]="true">Cancel</button>
    </form>

    <div *ngIf="mode === 'view'">
        <button class="action-button" mat-button (click)="editMode()">Edit</button>
        <button class="action-button" mat-button [mat-dialog-close]="true" (click)="removeTask($event)">Delete item</button>
        <button class="action-button" mat-button [mat-dialog-close]="true">Close</button>
        <h2>[{{ data.id }}] {{ data.name }}</h2>
        <br>
        <h3>Description:</h3>
        <p class="task__descritpion">{{ data.description }}</p>
        
        <h3>Status:</h3>
        <p>{{ data.status }}</p>

        <h3>Assignee:</h3>
        <p>{{ data.assignee }}</p>

        <h3>Remaining effort:</h3>
        <p>{{ data.estimation }}</p>
        
        <h4>Creation date:</h4>
        <p>{{ data.creationDate }}</p>
    </div>
</div>