<div class="task-editor-modal">
    <h1>{{ title }}</h1>
    <form *ngIf="mode==='create'" [formGroup]="taskForm" (ngSubmit)="createTask()">
        <div>
            <label for="id">ID:</label>
            <input id="id" type="number" formControlName="id">  
        </div>
        
        <div>
            <label for="name">Name:</label>
            <input id="name" type="text" formControlName="name" required>  
        </div>

        <div>
            <label for="name">Description:</label>
            <textarea id="name" type="text" formControlName="description" required></textarea>
        </div>

        <div>
            <label for="name">Assignee:</label>
            <input id="name" type="text" formControlName="assignee" required>
        </div>
       
        <div>
            <label for="name">Estimation [hours]:</label>
            <input id="name" type="number" formControlName="estimation" required>
        </div>

        <button mat-button mat-dialog-close type="submit" [disabled]="!taskForm.valid">Create</button>
        <button mat-button mat-dialog-close>Cancel</button>
    </form>

    <form *ngIf="mode==='edit'" [formGroup]="taskForm" (ngSubmit)="updateTask()">
        <div>
            <label for="id">ID:</label>
            <input id="id" type="number" formControlName="id">  
        </div>

        <div>
            <label for="name">Name:</label>
            <input id="name" type="text" formControlName="name" required>  
        </div>

        <div>
            <label for="status">Status:</label>
            <select class="header__status" name="status" id="status">
                    <option value="To Do">To Do</option>
                    <option value="In Progress">In Progress</option>
                    <option value="Done">Done</option>
                    <option value="Blocked">Blocked</option>
                    <option value="Not Valid">Not Valid</option>
            </select>
        </div>

        <div>
            <label for="name">Description:</label>
            <textarea id="name" type="text" formControlName="description" required></textarea>
        </div>

        <div>
            <label for="name">Assignee:</label>
            <input id="name" type="text" formControlName="assignee" required>
        </div>
       
        <div>
            <label for="name">Estimation [hours]:</label>
            <input id="name" type="number" formControlName="estimation" required>
        </div>

        <button mat-button mat-dialog-close type="submit" [disabled]="!taskForm.valid">Update</button>
        <button mat-button mat-dialog-close>Cancel</button>
    </form>
</div>