.category-header {
    display: flex;
    justify-content: space-between;
    border: 1px solid white;
}

.category-header__name {
    margin: 0.25em;
}

.category-header__menu {
    cursor: pointer;
    filter: invert();
    height: 2em;
    width: 2em;
}

