.task-node, .project-node {
  color: white
}

.task-node:hover, .project-node:hover {
  cursor: pointer;
  background-color: rgb(221, 177, 31);
  color: black;
}

.create-project-button {
  background-color: white;
  border: 1px solid black;
  font-size: 1em;
  text-align: center;
}

.projects-tree {
  background-color: black;
  color: white;
}