.tasks-board {
    display: flex;
}

.tasks-board__side-bar {
    width: 20em;
    height: 100%;
    background-color: rgb(31, 26, 26)
}

.tasks-board__central-view {
    width: 100%;
}

.information-text {
    text-align: center;
    font-weight: lighter;
}