<div class="tasks-board">
    <div class="tasks-board__side-bar">
        <app-side-bar [projects]="sideBarData"></app-side-bar>
    </div>
    <button class="tasks-board__side-bar-mobile-button">Projects</button>
    <div class="tasks-board__central-view">
        <div *ngIf="selectedProjectName !== ''">
            <app-operation-menu (filtered)="handleFilter($event)"></app-operation-menu>
            <app-tasks-view [tasks]="tasksView"></app-tasks-view>
        </div>
        <div *ngIf="selectedProjectName === ''">
            <h2 class="information-text">Create new project or choose existing one</h2>
        </div>

    </div>
</div>



