<h1 class="title">Welcome <b>{{ userName | async}}</b></h1>
<h3 class="subtitle"><b>todo board</b> allows you to many things</h3>
<div class="info">
    <div class="info__paddle">
        <p>Create multiple different project</p>
    </div>
    <div class="info__paddle">
        <p>Easily create tasks and track their progress</p>
    </div>
    <div class="info__paddle">
        <p>Manage tasks' assignments and work together</p>
    </div>
</div>
<h4 class="subtitle"><b>todo board</b> a place where big things happens</h4>
<p class="text">Go to <a [routerLink]="['/board']"><b>board</b></a> to see your tasks</p>