<div class="task" draggable="true" (mousedown)="onDragStart($event)" (click)="edit()">
    <div class="header task__header">
        <div>
            <p class="header__status">{{ data.status }}</p>  
            <span class="header__id">ID: {{ data.id }}</span>
        </div> 
        <h1 class="header__title">{{ data.name }}</h1>
    </div>

    <div class="content task__content">
        <p class="content__description">
            {{ data.description }}
        </p>
    </div>

    <div class="footer task__footer">
        <span class="footer__assignee">Assignee: <b>{{ data.assignee }}</b></span>
        <div>
            <span class="footer__remaining-effort">Effort: <b></b>{{ data.estimation }} h</span>
            <br>
            <span class="footer__date">Created: {{ data.creationDate }}</span>
        </div>
    </div>
</div>
