<div class="menu">
    <h2 class="menu__project-name">{{projectName }}</h2>
    <div class="menu__right-options">
        <div *ngIf="filteredUser !== ''" class="menu__filter-into">
            <span>Filter for <b>{{filteredUser}}&ensp;</b></span>
            <button (click)="removeFilter()">X</button>
        </div>
        
        <img class="category-header__menu" src="/assets/icons/dots-menu.png" [cdkMenuTriggerFor]="menu">
        <button mat-button class="menu__new-task-button" (click)="openTaskModalCreation()">Create New Task</button>  
    </div>
</div>

<ng-template #menu>
    <div class="example-menu" cdkMenu>
        <button class="example-menu-item" cdkMenuItem (click)="handledTasksAssignedToMe()">Assigned to me</button>
        <button class="example-menu-item" cdkMenuItem [cdkMenuTriggerFor]="sortOptions">
            Filter by assignee <span>&#10148;</span>
        </button>
    </div>
</ng-template>

<ng-template #sortOptions>
    <div class="example-menu" cdkMenu>
      <button *ngFor="let user of allUsers" class="example-menu-item" cdkMenuItem (click)="handledFilterByAssignee(user)">{{user}}</button>
    </div>
</ng-template>