.menu {
    background-color: var(--dark-grey-color);
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.menu__project-name {
    margin: 0.25em;
    margin-left: 1em;
}

.menu__new-task-button {
    font-size: 0.8em;
    margin: 0.25em;
    margin-right: 1em;
}